<div id="pg1">
    <section class="fOrm" (keyup.enter)="updateList()">

        <input class="Title" type="text" placeholder="Enter To Do List Name! ">
        <input class="taskIn" [(ngModel)]="todoItem" type="text" placeholder="Enter tasks here!" required>
        <button class="save" (click)="updateList()">Save</button>
        
    </section>
    <!-- table maybe???? -->
    <ul class="list">
        
        <li *ngFor="let items of todoItems">
            <input type="checkbox" name="tick" id="">
            {{items}}
        </li>

    </ul>

    <div *ngFor="let item of itemListA; let i = index">
        <p>{{item.title}}</p>
        <input type="text" class="form-control" placeholder="add" [(ngModel)]="itemList">
        <button (click)="addSubItem(i)">add</button>
        <div *ngFor="let sub of item.subItem">
            <p>{{sub}}</p>
        </div>
        
    </div>

</div>
